.menu_top {
    background-color: rgb(29, 27, 27);
    color: aliceblue;
    text-align: center;
    position: relative;
    margin: 0;
    padding: 0;
}

a {
    color: azure;
    text-decoration-line: none;
    direction: inline-block;
    padding: 10px;
    margin: 50px;


}

h1 {
    text-align: center;
    font-size: 45px;
    color: #2E548D;
    font-family: sans-serif;
}

h3 {
    text-align: center;
    font-size: 54px;
    color: #252323;
}

.container {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    position: relative;
    align-items: center;
    text-align: center;
    color: #2E568F;
    font-size: 24px;
    line-height: 1;
    font-family: sans-serif;
}

nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    font-family: sans-serif;
}

.rodape {
    background-color: rgb(29, 27, 27);
    position: relative;
    color: aliceblue;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    height: 60%;
    padding: 1px;
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
}

.botão {
    /* background-color: #1949B1;
    font-weight: bold;
    color: azure;
    height: 3.5rem;
    display: inline-flex;
    align-items: center;
    padding: 0 2rem;
    border-radius: 0.25rem;
    font: 500 1rem 'DM Sans', sans-serif;
    transition: background 0.3s;*/

    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #88b0ec;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 0.25rem;
    overflow: hidden;
    transition: 0.2s;
}

a:hover {

    color: #5db0f8;
    background: #2E548D;
    box-shadow: 0 0 10px #2E548D, 0 0 40px #2E548D, 0 0 80px #2E548D;
    transition-delay: 0.1s;
}

h1::after {
    content: '|';
    opacity: 1;
    margin-left: 5px;
    display: inline-block;
    animation: blink .7s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    body {
        padding-top: 80px;
        /* Altura do menu */
    }

    .header {
        position: fixed;
        top: 0;
    }